<h3>My Heroes</h3>
<ul class="heroes">
    <li>
    <span class="badge"><label>Add Hero</label></span>
        <input #heroName 
            (keyup.enter)="add(heroName.value); heroName.value=''"
            (blur)="add(heroName.value); heroName.value=''"/>
    <button (click)="add(heroName.value); heroName.value=''" 
        id= "add">
        +
    </button>
    </li>
    <br>
    <li *ngFor="let hero of heroes" class="shift">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <app-delete-button (deleteRequest)="delete($event)" [hero]="hero" label="x"></app-delete-button>
    </li>    
</ul>