/* HeroesComponent's private CSS styles */
.heroes {
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.heroes li {
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  height: 2em;
  border-radius: 4px;
}

.heroes li:hover {
  position: relative;
  cursor: pointer;
  color: #607d8b;
  background-color: #cfd8dc;
}

.shift {
  left: .2em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 17em;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  height:1.65em;
  min-width: 16px;
  text-align: right;
  border-radius: 4px 0 0 4px;
}

#add:hover {
  background-color: rgb(175, 150, 9);
}
