/* HeroDetailComponent's private CSS styles */
  label {
    display: inline-block;
    font-weight: bold;
  }

  .badge {
    width: 2.5em;
  }

  button {
    margin-left: 2px;
  }
  
  div {
    margin:5px;
  }

  div {
    float: left;
    clear: both;
  }