<div class="grid">
  <a class="small-3 medium-3 cell" href="dashboard#multi-image">Image Switcher</a>
  <a class="small-3 medium-3 cell" href="dashboard#slider-image">Image Slider</a>
  <a class="small-3 medium-3 cell" href="dashboard#location">Location</a>
</div>
<div class= "grid">
  <div class="small-12 medium-9">
    <app-hero-search ></app-hero-search>
  </div>
</div>
<h3><fa-icon [icon]="['fab', 'angular']" class="icon-4x"></fa-icon>Experiments sourced from: <a href="angular.io/tutorial">Angular Tutorial</a></h3>

<h3>Top Heroes <fa-icon [icon]="filmIcon"></fa-icon></h3>
<div class="grid">
  <div *ngFor="let hero of heroes" class="small-6 medium-3 cell hover" (click)="onSelect(hero)">
      <h4>{{hero.name}}</h4>
  </div>
</div>

<div class="grid">

<app-hero-detail *ngIf="selected" class="medium-6 small-12" [hero]="selected"></app-hero-detail>
<div class="medium-6 small-6">
  <app-date></app-date>
  <app-resize [(font)]="fontSizePx"></app-resize>
  <div [style.font-size.px]="fontSizePx">Output size: {{fontSizePx}}px</div>
  <p appHighlight="gold">Highlight Directive</p>

</div>
<app-ad-banner class="medium-12 small-12 cell" style="height:180px;"[ads]="ads"></app-ad-banner>
</div>

<a name="multi-image"></a>
<hr>
<h3>Image Switcher</h3>
<app-multi-image></app-multi-image>

<a name="slider-image"></a>
<hr>
<h3>Image Slider</h3>
<div class="center">
<app-slider-image></app-slider-image>
</div>

<a name="location"></a>
<hr>
<h3>Google Location</h3>
<div class="center">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10333.08932157865!2d-81.70569056826015!3d43.738551339916256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8828c34f41fda61d%3A0x68a17b60dcd37938!2sMaitland%20Recreation%20Centre!5e0!3m2!1sen!2sca!4v1582991812853!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<app-evil></app-evil>
<hr>
<app-svg></app-svg>
<hr>
<app-key-event></app-key-event>
<hr>

