<div class= "grid">
  <div class="small-12 medium-9">
    <app-hero-search ></app-hero-search>
  </div>
</div>
<h3><fa-icon [icon]="['fab', 'angular']" class="icon-4x"></fa-icon>Experiments sourced from: <a href="angular.io/tutorial">Angular Tutorial</a></h3>

<h3>Top Heroes <fa-icon [icon]="filmIcon"></fa-icon></h3>
<div class="grid">
  <div *ngFor="let hero of heroes" class="small-6 medium-3 cell hover" (click)="onSelect(hero)">
      <h4>{{hero.name}}</h4>
  </div>
</div>

<div class="grid">

<app-hero-detail *ngIf="selected" class="medium-6 small-12" [hero]="selected"></app-hero-detail>
<div class="medium-6 small-6">
  <app-date></app-date>
  <app-resize [(font)]="fontSizePx"></app-resize>
  <div [style.font-size.px]="fontSizePx">Output size: {{fontSizePx}}px</div>
  <p appHighlight="gold">Highlight Directive</p>
</div>
<app-ad-banner class="medium-12 small-12 cell" style="height:180px;"[ads]="ads"></app-ad-banner>

</div>
<hr>
<app-multi-image></app-multi-image>
<app-evil></app-evil>
<hr>
<app-svg></app-svg>
<hr>
<app-key-event></app-key-event>
<hr>

