/* DashboardComponent's private CSS styles */
  h3 {
    text-align: center;
    margin-bottom: 0;
    float:centre;
    clear:both;
  }

  .module {
    padding: 5px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #3f525c;
    border-radius: 10px;
  }
  .module:hover {
    background-color: #cfd8dc;
    cursor: pointer;
    color: #607d8b;
  }
  