.medium-9 {
    grid-column: span 3;
}
.medium-6 {
    grid-column: span 2;
}
.medium-3 {
    grid-column: span 1;
}

@media (max-width: 600px) {
    .small-12 {
        grid-column: span 4;
    }
    .small-6 {
        grid-column: span 2;
    }
}

.grid {
    display: grid;
    grid-template-columns: 25% auto 25% 25%;
}