/* You can add global styles to this file, and also import other style files */

.badge {
    display: inline-block;
    font-size: small;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    height:1.65em;
    min-width: 16px;
    text-align: center;
    border-radius: 4px 0 0 4px;
  }
.badge, button {
  background-color:#405061;
  color: white;
}

  .dash:hover, button:hover {
    background-color: #cfd8dc !important;
    cursor: pointer;
    color: #607d8b !important;
  }
  input {
    width: 195px;
    margin:0 1px 0 0;
    height:1.65em;
  }

  button {
    border: none;
    border-radius: 4px;
    cursor: hand;
    font-family: Arial;
    background-color: gray;
    color: white;
    position:relative;
    padding: 6px 9.5px 6px 9.5px;
    top: -1px;
  }
  
  button.delete {
    padding: 5px 10px 7px 10px;
    top:-2px;
  }
  
  button.delete:hover {
    background-color: rgb(146, 18, 18);
  }
