/* HeroSearch private styles */

#search-component {
  position:relative;
  float:left;
  clear:both;
}

.search-result {
  position: absolute;
  z-index: 1;
}

.search-result li {
  list-style-type: none;
}

.search-result li a{
    border: 1px solid gray;
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    color: #888;
    display: block;
    text-decoration: none;
  }
  
  .highlight {
    background-color: #607D8B !important;
    color: white !important;
  }

  #search-box {
    width: 200px;
    height: 20px;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }

  .badge, input {
    display:inline-block;
  }

  label {
    width: 90px;
  }

  .magnify {
    border-radius: 0 4px 4px 0;
    width: 15px;
  }