<div id="search-component" >
    <h3 >
    <label class="badge" for="search-box">Hero Search </label>
    <div style="display:inline-block;">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" autocomplete="off" 
      (keydown.ArrowDown)="onKey(+1)" (keydown.ArrowUp)="onKey(-1)" (keydown.enter)="redirect()"
      (wheel)="scroll($event)"
      (focus)="toggleShow(true)" (blur)="toggleShow(false)"
    />
    <ul [hidden]="!show" class="search-result" (wheel)="scroll($event)">
      <li *ngFor="let hero of heroes$ | async; let i = index" (focus)="toggleShow(true)">
        <a routerLink="/detail/{{hero.id}}" [class]="getClass(i, hero.id)"
          (mouseover)="mouseOver(i, hero.id)"
        >{{hero.name}}</a>
      </li>
    </ul>
    </div>
    <div class="badge magnify">
      <fa-icon [icon]="magnify"></fa-icon>
    </div>
  </h3>
  </div>