<div id="search-component">
    <h3>
      <span class="badge"><label for="search-box">Hero Search </label></span>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" autocomplete="off" 
      (keydown.ArrowDown)="onKey(+1)" (keydown.ArrowUp)="onKey(-1)" (keydown.enter)="redirect()" ()
    
    />
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async; let i = index" >
        <a routerLink="/detail/{{hero.id}}" [class]="getClass(i, hero.id)">{{hero.name}}</a>
      </li>
    </ul>
  </h3>
  </div>